<section id="product1" class="section-p1">
    <h2>Featured Products</h2>
    <p>Summer collection New Mordern Design</p>
    <div class="pro-container">
        <div class="pro" onclick="window.location.href='productDetails.ejs'">
            <img src="img/products/f1.jpg" alt="product image">
            <div class="desc">
                <span>adidas</span>
                <h5>T-shirt gold</h5>
                <div class="star">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <h4>$74</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart" aria-hidden="true"></i>
                </i>
            </a>
        </div>

        <div class="pro">
            <img src="img/products/f2.jpg" alt="product image">
            <div class="desc">
                <span>adidas</span>
                <h5>T-shirt gold</h5>
                <div class="star">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <h4>$74</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart" aria-hidden="true"></i>
                </i>
            </a>
        </div>

        <div class="pro">
            <img src="img/products/f3.jpg" alt="product image">
            <div class="desc">
                <span>adidas</span>
                <h5>T-shirt gold</h5>
                <div class="star">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <h4>$74</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart" aria-hidden="true"></i>
                </i>
            </a>
        </div>

        <div class="pro">
            <img src="img/products/f4.jpg" alt="product image">
            <div class="desc">
                <span>adidas</span>
                <h5>T-shirt gold</h5>
                <div class="star">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <h4>$74</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart" aria-hidden="true"></i>
                </i>
            </a>
        </div>

        <div class="pro">
            <img src="img/products/f5.jpg" alt="product image">
            <div class="desc">
                <span>adidas</span>
                <h5>T-shirt gold</h5>
                <div class="star">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <h4>$74</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart" aria-hidden="true"></i>
                </i>
            </a>
        </div>

        <div class="pro">
            <img src="img/products/f6.jpg" alt="product image">
            <div class="desc">
                <span>adidas</span>
                <h5>T-shirt gold</h5>
                <div class="star">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <h4>$74</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart" aria-hidden="true"></i>
                </i>
            </a>
        </div>

        <div class="pro">
            <img src="img/products/f7.jpg" alt="product image">
            <div class="desc">
                <span>adidas</span>
                <h5>T-shirt gold</h5>
                <div class="star">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <h4>$74</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart" aria-hidden="true"></i>
                </i>
            </a>
        </div>

        <div class="pro">
            <img src="img/products/f8.jpg" alt="product image">
            <div class="desc">
                <span>adidas</span>
                <h5>T-shirt gold</h5>
                <div class="star">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <h4>$74</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart" aria-hidden="true"></i>
                </i>
            </a>
        </div>

    </div>
</section>