<section id="header">
    <a href="/"><img src="img/logo.png" class="header" alt="logo image"></a>

    <div>
        <ul id="navbar">
            <li><a class="active" href="/">Home</a></li>
            <li><a href="shop.ejs">Shop</a></li>
            <li><a href="/">Blog</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Contact</a></li>
            <li id="lg-bag"><a href="/"><i class="fa-solid fa-bag-shopping"></i></a></li>
            <a href="/" id="close"><i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </ul>
    </div>
    <div id="mobile">
        <i class="fa-solid fa-bag-shopping"></i>
        <i id="bar" class="fa fa-bars" aria-hidden="true"></i>
    </div>
</section>