<section id="hero">
    <h4>Trade-in-offer</h4>
    <h2>Super value deals</h2>
    <h1>On all products</h1>
    <p>Save more with us by purcess in bunch</p>
    <button onclick="window.location.href='/shop.ejs'">Shop Now</button>
</section>